html {
	/* ? */
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
/*  */
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}
button {
	background: transparent;
	border: none;
	cursor: pointer;
}
body {
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 24px;
}

.header__inner {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 44px;
	margin-bottom: 26px;
}
.header__image:hover,
.header__buttons button :hover {
	scale: 1.1;
}
.header__image,
.header__buttons {
	transition: 300ms all ease-in-out;
}
.nav__list {
	display: flex;
	gap: 0 50px;
}
.nav__list a {
	padding-right: 16px;
}
.nav__list-item {
	transition: 300ms all ease-in-out;
}
.nav__list-item:hover {
	color: green;
}
.header__buttons {
	display: flex;
	gap: 0 30px;
	align-items: center;
}

.help__inner {
	background-color: #154444;
	display: flex;
	color: #ffffff;
}
.help__content {
	padding-top: 100px;
	padding-left: 100px;
}
.help__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 20px;
}
.help__text {
	max-width: 480px;
	margin-bottom: 35px;
	font-size: 20px;
}
.help__button {
	display: inline-block;
	padding: 15px 25px;
	background-color: #ffffff;
	color: #154444;
	/* font-weight: 700; */
	transition: 0.3s all ease-in-out;
	font-size: 20px;
}
.help__button:hover {
	background-color: #154444;
	color: #ffffff;
}
.companies {
	padding-top: 140px;
	margin-bottom: 140px;
}
.companies__title {
	text-align: center;
	margin-bottom: 40px;
	color: #244d4d;
	font-size: 32px;
	font-weight: 700;
}
.companies__wrap {
	display: flex;
	justify-content: center;
	gap: 0 100px;
}

.about {
	margin-bottom: 140px;
}
.about__inner {
	display: flex;
	gap: 0 100px;
	/* position: relative; */
}
.about__content {
	padding-top: 65px;
}
.about__image {
	max-height: 577px;
}
.about__wraper {
	position: relative;
}
.about__wraper::after {
	position: absolute;
	content: '';
	top: 26px;
	left: 0px;
	/* transform: translate(-50px, -50px); */
	width: 631px;
	height: 586px;
	background-color: #dee4e2;
	z-index: -1;
}
.about__title {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 700;
	color: #244d4d;
}
.about__text {
	color: #444;
	font-size: 20px;
	margin-bottom: 40px;
}
.about__info h3 {
	font-size: 20px;
	font-weight: 700;
	color: #244d4d;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 14px;
}
.about__info {
	flex-basis: 271px;
}
.about__item {
	display: flex;
	gap: 0 30px;
	margin-bottom: 40px;
}
/* slider */
.furniture__title {
	color: #242424;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}
.furniture__disc {
	color: #383738;
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 80px;
	max-width: 820px;
}
.furniture {
	margin-bottom: 140px;
}
.furniture__text--header {
	display: flex;
	justify-content: space-between;
}
.swiper__btns {
	display: flex;
	gap: 0 20px;
	align-items: center;
}

.furniture__slider {
	/* це для box-shadow бо swiper обрізає його */
	padding-inline: 20px;
	padding-block: 40px; /* зверху і знизу */
}
.furniture__slide {
	/* зміна обрахунку ширини контейнера-контенту */
	box-sizing: border-box;
	box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.07);
	overflow: hidden;
	max-width: 380px;
}
/* .furniture__item img {
	object-fit: cover;
	width: 100%;
	display: block;
} */

.slide__description {
	margin: 30px 24px 27px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide__title {
	color: #242424;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.slide__price {
	color: #154444;
	font-size: 24px;
	font-weight: 500;
}

.furniture__buttons {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 20px;
}

.buttons__wrap {
	display: flex;
	gap: 10px;
}
.furniture__btn.choose {
	background-color: #ef5423;
}
.furniture__btn {
	display: inline-block;
	border-radius: 50%;
	background-color: #ecf4ff;
	padding: 10px;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}
.furniture__btn:hover {
	scale: 1.1;
	background-color: gray;
}

.furniture__btn img {
	display: block;
	width: 18px;
	height: 18px;
}

.furniture__btn--buy {
	background-color: #154444;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s all ease-in-out;
}

.furniture__btn--buy:hover {
	background-color: #0f3333;
	scale: 1.1;
}
/* slider */

.shop {
	margin-bottom: 140px;
}

.shop__title {
	text-align: center;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 700;
	color: #242424;
	font-family: 'Montserrat', sans-serif;
}
.shop__filter {
	margin-bottom: 80px;
}
.shop__list {
	display: flex;
	gap: 0 105px;
	justify-content: center;
	align-items: center;
}
.shop__item {
	color: #919090;
	font-size: 24px;
	transition: 0.3s all ease-in-out;
}
.shop__item:hover {
	color: #154444;
}
.shop__item span {
	display: block;
	background-color: #154444;
	height: 2px;
	width: 57px;
	margin: 0 auto;
	margin-top: 6px;
}

.shop__filter--content {
	display: flex;
	justify-content: space-between;
}
.filter--img__wrap {
	position: relative;
}
.filter--img {
	min-height: 390px;
}
.filter--img__wrap::before {
	content: '';
	display: block;
	background-color: #154444;
	position: absolute;
	width: 190px;
	height: 85px;
	top: -9px;
	left: -12px;
	z-index: -1;
}
.filter--img__wrap::after {
	content: '';
	display: block;
	background-color: #154444;
	position: absolute;
	width: 190px;
	height: 85px;
	bottom: -11px;
	right: -12px;
	z-index: -1;
}

.shop__menu {
	/* GRID */
	display: grid;
	grid-template-columns: 222px 222px;
	grid-auto-rows: 90px;
	gap: 33px 30px;
}
.menu--btn {
	color: #808080;
	border: 1.5px solid #d9dce5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 14px;
	transition: 0.3s all ease-in-out;
}
.menu--btn:hover {
	background-color: #154444;
	color: #ffffff;
}

.menu--btn:nth-child(4) {
	background-color: #154444;
	color: #ffffff;
}

.article {
	margin-bottom: 140px;
}
.article__inner {
	display: flex;
	padding-left: 105px;
	justify-content: space-between;
}
.article__img--wrap {
	position: relative;
}
.article__img--wrap::before {
	content: '';
	display: block;
	background-color: #154444;
	border-radius: 50%;
	position: absolute;
	width: 492px;
	height: 492px;
	left: -105px;
	z-index: -1;
}
.article__content {
	margin-top: 105px;

	flex-basis: 535px;
}
.article__title {
	color: #242424;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}

.article__description {
	color: #383738;
	font-size: 20px;
	margin-bottom: 40px;
}
.article__autor {
	display: flex;
	align-items: center;
}
.article__autor--name {
	margin-left: 10px;
}
.autor--rating {
	padding-top: 6px;
	display: flex;
	gap: 0 5px;
}
.news {
	margin-bottom: 140px;
}
.news__inner {
	background-color: #f4f6f6;
	padding-block: 68px 55px;
}

.news__title {
	display: block;
	color: #222;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	max-width: 605px;
	margin: 0 auto 20px auto;
}
.news__text {
	display: block;
	max-width: 493px;
	margin: 0 auto;
	color: #222;
	text-align: center;
	margin-bottom: 40px;
}
.news__form {
	background-color: #ffffff;
	max-width: 471px;
	margin: 0 auto;
	padding: 6px 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.news__input--wrap {
	display: flex;
	text-align: center;
	gap: 0 12px;
	flex: 1;
	/* 
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%; 
	*/
}

.news__input {
	padding: 12px 16px;
	color: #bababa;
	border: none;
	flex: 1;
}
/* ПРИБРАВ ОТУ СИНЮ РАМКУ ПРИ ФОКУСІ */
.news__input:focus {
	outline: none;
	border-color: #154444; /* або свій стиль */
	box-shadow: 0 0 0 2px rgba(0, 150, 136, 0.2); /* м’яка тінь замість outline */
}
.news__button {
	background-color: #154444;
	color: #ffffff;
	font-weight: 500;
	padding: 15px 33px;
}
