html {
	/* ? */
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
/*  */
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}
button {
	background: transparent;
	border: none;
	cursor: pointer;
}
body {
	font-family: 'DM Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 24px;
}

.header__inner {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 44px;
	margin-bottom: 26px;
}
.header__image:hover,
.header__buttons button :hover {
	scale: 1.1;
}
.header__image,
.header__buttons {
	transition: 300ms all ease-in-out;
}
.nav__list {
	display: flex;
	gap: 0 50px;
}
.nav__list a {
	padding-right: 16px;
}
.nav__list-item {
	transition: 300ms all ease-in-out;
}
.nav__list-item:hover {
	color: green;
}
.header__buttons {
	display: flex;
	gap: 0 30px;
	align-items: center;
}

.help__inner {
	background-color: #154444;
	display: flex;
	color: #ffffff;
}
.help__content {
	padding-top: 100px;
	padding-left: 100px;
}
.help__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 20px;
}
.help__text {
	max-width: 480px;
	margin-bottom: 35px;
	font-size: 20px;
}
.help__button {
	display: inline-block;
	padding: 15px 25px;
	background-color: #ffffff;
	color: #154444;
	/* font-weight: 700; */
	transition: 0.3s all ease-in-out;
	font-size: 20px;
}
.help__button:hover {
	background-color: #154444;
	color: #ffffff;
}
.companies {
	padding-top: 140px;
	margin-bottom: 140px;
}
.companies__title {
	text-align: center;
	margin-bottom: 40px;
	color: #244d4d;
	font-size: 32px;
	font-weight: 700;
}
.companies__wrap {
	display: flex;
	justify-content: center;
	gap: 0 100px;
}

.about {
	margin-bottom: 140px;
}
.about__inner {
	display: flex;
	gap: 0 100px;
	/* position: relative; */
}
.about__content {
	padding-top: 65px;
}
.about__image {
	max-height: 577px;
}
.about__wraper {
	position: relative;
}
.about__wraper::after {
	position: absolute;
	content: '';
	top: 26px;
	left: 0px;
	/* transform: translate(-50px, -50px); */
	width: 631px;
	height: 586px;
	background-color: #dee4e2;
	z-index: -1;
}
.about__title {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 700;
	color: #244d4d;
}
.about__text {
	color: #444;
	font-size: 20px;
	margin-bottom: 40px;
}
.about__info h3 {
	font-size: 20px;
	font-weight: 700;
	color: #244d4d;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 14px;
}
.about__info {
	flex-basis: 271px;
}
.about__item {
	display: flex;
	gap: 0 30px;
	margin-bottom: 40px;
}