<header class="header">
	<div class="container header__inner">
		<a href=""
			><img src="./images/header/logo.svg" alt="" class="header__image"
		/></a>
		<nav>
			<ul class="nav__list">
				<li class="nav__list-item">
					<a href="#">Home</a>
				</li>
				<li class="nav__list-item"><a href="#">About</a></li>
				<li class="nav__list-item"><a href="#">Features</a></li>
				<li class="nav__list-item"><a href="#">Contact</a></li>
			</ul>
		</nav>

		<div class="header__buttons">
			<button class="header__search">
				<img src="./images/header/search.svg" alt="" />
			</button>
			<button class="heder__menu">
				<img src="./images/header/menu.svg" alt="" />
			</button>
		</div>
	</div>
</header>
